
/* all product secrion */

.light-yellow{
    color: #FF9900;
}


#seach-icon{
    padding: 12px;
    height: 100%;
    background-color: #709AC6;
    color: #fff;
    border-radius: 3px;
}
#products-div{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin-top:10px;

}
.product-l{
    width: 25%;
    /* border: 1px solid black; */
    margin-right: 20px;
}
#data1{
      width: 80%;
      /* border: 1px solid black; */
}
#data{
     display: grid;
     grid-template-columns: 33% 33% 33%;
 
}
#data > div{
    padding: 10px;
    text-align: center;
    margin: 10px;
    background-color: #ffff;
    border-radius: 5px;
}

#data > div> img{
    width: 100%;
    height: 100%px;
    
}

#data > div> button{
          padding: 10px 20px;
          border-radius: 5px;
          background-color: #FF9900;
          color: #fff;
          border: 1px solid #fff;
          font-size: 16px;

}

#data > div> button:hover{
    font-size: 20px;
}
#data > div> p{
     font-size: 16px;
     font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
     /* line-height: 16px; */
     font-weight:600;
     
    
}
#data > div> span{
    display: block;
    text-decoration: line-through;
    color: #FF9900;
}



/* department section */
.product-l{
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    height: 400px;
    border-radius: 10px;
    

}
.pro-depart >p{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.pro-depart >ul >li{
       margin-bottom: 15px;
}
.pro-depart >ul >li>a{
    color: #666666;
}

.pro-depart >ul >li>a:hover{
    color: #FF9900;
}

