*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
body{
    background-color: #F5F5F5;
}

/* Sign in page */
  #Sign-main{
      width:30%;
      margin: 20px auto;
      text-align: center;
  }


  #Sign-main>.form{
      /* border: 1px solid black; */
      background-color: #fffF;
      border-radius: 5px;
      padding:20px;

        }

  .SignIn-h3>h3{
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 16px;
    color: #333;
    font-size: 22px;
    padding: 24px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 450;
}
.SignInWith-p>p{
    margin-bottom: 16px;
    color: #333;
    font-size: 13px;
    line-height: 16px;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

}

  .SignIn-icon>ul>li{
      list-style-type: none;
      display: inline-block;
      margin: 10px;
  }
  .SignIn-icon>ul>li>img{
         width: 24px;
         height: 25;
  }
.or{
      
      color: #666;
     
  }


input{
    display: block;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-bottom: 20px !important;

}
#signBtn{
    margin-top: 10px;
    background-color: #fbab32;
    color: #ffff;
    border: none;
    border-radius: 5px;
    font-size: large;
}
