*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Sign in page */
  #Sign-main{
      width:50%;
      margin: 100px auto;
      text-align: center;
  }


  #Sign-main>.form{
      border: 1px solid black;
        }

  .SignIn-h3>h3{
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 16px;
    color: #333;
    font-size: 22px;
    padding: 24px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 450;
}
.SignInWith-p>p{
    margin-bottom: 16px;
    color: #333;
    font-size: 13px;
    line-height: 16px;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

}

  .SignIn-icon>ul>li{
      list-style-type: none;
      display: inline-block;
      margin: 10px;
  }
  .SignIn-icon>ul>li>img{
         width: 24px;
         height: 25;
  }
.or{
      display: inline-flex;
      color: #666;
  }
.line{
    border-bottom: 1px solid #666;
    width: 150px;
}


input{
    display: block;
    text-align: center;
    width: 90%;
    height: 50px;
    margin: auto;
   margin-bottom: 10px !important;

}